.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/covoc.owl
src/ontology/covoc.obo
src/ontology/covoc.json
src/ontology/covoc-base.*
src/ontology/covoc-basic.*
src/ontology/covoc-full.*
src/ontology/covoc-simple.*
src/ontology/covoc-simple-non-classified.*
src/ontology/imports/*_terms.txt

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-covoc-edit.owl
src/templates/*.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt